div#first-topic {
  background: white
}

div#first-topic h2 {
  text-align: center;
  height: auto;
  color: black;
 background: white;
 font-size: 2rem;
 margin: 1rem 1rem;
 text-shadow: 0.2rem 0.2rem 0.5rem rgba(153, 153, 153, 0.68);;
}

form {
  background: none;
}


div#gallery h2:hover {
  height: auto;
}

div#back {
  position: relative;
  margin: 0 0;

}