div#first-topic {
  background: white
}

div#gallery h2 {
  grid-column: 1/5;
  height: auto;
  color: black;
 background: white;
 font-size: 2rem;
 text-shadow: 0.2rem 0.2rem 0.5rem rgba(153, 153, 153, 0.68);;
}

div#gallery h2:hover {
  height: auto;
}

div#back {
  position: relative;
  margin: 0 0;

}