* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



ul {
  list-style-type: none
  ;
}

div#container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}


/*======HEADER=========*/


header {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: linear-gradient(90deg,rgba(43, 50, 131), rgba(44, 94, 151));
}

section {
  grid-column: 1/13;
  background: url('../img/profil2.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.35rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgb(3, 3, 5);
  color: white;
  font-family: 'Ephesis', cursive;
}

/*======HEADER END=========*/

/*======MENU=========*/

#ham-menu {
  cursor: pointer;
  margin: 0.5rem 0.5rem;
  align-self: center;
}

#company-name {
  margin: 0.5rem 0.5rem;
  align-self: start;
}

.classOfLines {
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin: 0.5rem;
  color: black;
  width: 40px;
}

nav {
  display: none;
}

div#menu ul {
  font-size: 1.25rem;
}

#menu-list li {
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.15rem;
}

#menu-list li a {
  color: white;
  text-decoration: none;
  transition: all ease-in-out 0.15s;
}

#menu-list li a:hover {
  color: rgba(167, 167, 167, 0.849);
  padding-left: 0.25rem;
  transition: all ease-in-out 0.15s;
}

/*======MENU END=========*/

/*======CONTENT=========*/



div.square {
  height: 35vh;
  max-height: 300px;
  max-width: 500px;
  margin: 2rem auto;
  border-radius: 1rem;
  background-color: rgba(245, 245, 245, 0.795);
  box-shadow: 0.01rem 0.8rem 0.75rem rgba(0, 0, 0, 0.384);
}

div.topicName {
  text-align: center;
  background: linear-gradient(90deg,rgb(43, 51, 131), rgb(44, 94, 151));
  padding: 0.5rem;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  border-bottom-left-radius: 2rem;
  font-size:  1.2rem;
  font-variant: small-caps;
  letter-spacing: 0.25rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.678);
  font-family: 'Playfair Display SC', serif;
}

div.topicContent {
  font-size: 1.2rem;
}

div.topicContent ul {
  list-style-type: none;
}

div.topicContent li {
  float: none;
  padding: 0.5rem;
  letter-spacing: 0.15rem;
}

div#pureContent {
  background: white;
  padding-bottom: 2rem;
}

div#pureContent p {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 1rem;
  text-align: center;
}

#pureContent h2 {
  text-align: center;
  padding: 1.5rem;
  font-family: 'Playfair Display SC', serif;
  font-variant-caps: petite-caps;
}

/*======CONTENT END=========*/

/*=====GALLERY============*/
div#gallery {
  display: grid;
  margin: 0 auto 2rem;
  padding-bottom: 1rem;
  grid-template-columns: repeat(4, 1fr);
  background: rgba(255, 255, 255, 0.61);
  grid-gap: 0.5rem;
}

div#gallery a {
  text-decoration: none;
  grid-column: 2/4;
}

div#gallery h2 {
  text-align: center;
  background: linear-gradient(90deg,rgb(43, 51, 131), rgb(44, 94, 151));
  padding: 0.5rem;
  height: 12vh;
  margin-top: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size:  1.2rem;
  font-variant: small-caps;
  letter-spacing: 0.25rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.678);
  font-family: 'Playfair Display SC', serif;
  transition: all ease-in-out 0.25s;
}

div#gallery h2:hover {
  height: 14vh;
  transition: all ease-in-out 0.25s;
}

.gallery-img {
 max-width: 100vw;
 height: 70%;
 max-height: 300px;
border-radius: 0.25rem;
min-height: 165px;
 width: 85%;
 display: block;
 margin: 0.25rem auto;
 align-self: center;
 grid-column: 1/3;
 box-shadow: 0.01rem 0.8rem 0.75rem rgba(0, 0, 0, 0.384);
 cursor: pointer;
 transition: all ease-in-out 0.25s;
}

.gallery-img-right {
  max-width: 100vw;
  min-height: 165px;
  height: 70%;
 border-radius: 0.25rem;
  width: 85%;
  display: block;
  margin: 0.25rem auto;
  align-self: center;
  grid-column: 3/5;
  cursor: pointer;
  box-shadow: 0.01rem 0.8rem 0.75rem rgba(0, 0, 0, 0.384);
  transition: all ease-in-out 0.25s;
}

#gallery img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.25s;
}


/*======FOOTER=========*/

footer {
  grid-column: 1/13;
  background: linear-gradient(90deg,rgba(43, 50, 131), rgba(44, 94, 151));
}

footer h2 {
  padding: 0.5rem;
  color: white;
  font-weight: 300;
  text-align: center;
  font-family: 'Ephesis', cursive;
  letter-spacing: 0.4rem;

}

div#social {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#social i {
  color: rgb(226, 211, 211)
}

#social i:hover {
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out 0s;
  transform: rotate(360deg);
}

.author {
 margin: 1rem auto 0.5rem;
text-align: center;
}

article#designer {
  font-family: 'Ephesis', cursive;
  color: white;
  font-size: 1.4rem;
}

span {
  font-size: 1.2rem;
  color: white;
  font-family: 'Ephesis', cursive;
}

span a {
  text-decoration: none;
  color: white;
}

span a:visited {
  color: white;
}
/*======FOOTER END=========*/



