/*---------BASIC---------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

div#container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

/*--------BASIC - END ---------*/



/*======HEADER=========*/

header {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: linear-gradient(90deg,rgba(43, 50, 131), rgba(44, 94, 151));
}

section {
  grid-column: 1/13;
}

h1 {
  font-size: 1.65rem;
  font-weight: 200;
  letter-spacing: 0.35rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgb(3, 3, 5);
  color: white;
  font-family: 'Ephesis', cursive;
  align-self: center;
  justify-self: center;
}

/*======HEADER END=========*/

/*======MENU START=========*/

#ham-menu {
  cursor: pointer;
  margin: 0.5rem 0 0.5rem 0.5rem;
  align-self: left;
}

#company-name {
  margin: 0.75rem 0.5rem 0.5rem 0;
}

.classOfLines {
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin: 0.5rem;
  color: black;
  width: 40px;
  transition: all ease-in-out 0.5s;
}

nav {
  height: 0vh;
  animation-name: non-visible-menu;
  animation-duration: 0.6s;

}

.ham-menu-visible {
  height: 35vh;
  animation-name: visible-menu;
  animation-duration: 0.6s;
  transition: all ease-in-out 0.6s;
  }

/*--------------- ANIMATION ------------*/  
@keyframes visible-menu {
0% {height: 0vh;}
100%{height: 35vh;}
}

@keyframes non-visible-menu {
  0% {height: 35vh;}
  100%{height: 0vh;}
  }
/*--------------- ANIMATION END------------*/  


div#menu ul {
  font-size: 1.25rem;
}

#menu-list li {
  padding: 0.75rem 0.1rem 0.5rem 0.5rem;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.15rem;
}

#menu-list li a {
  color: white;
  text-decoration: none;
  transition: all ease-in-out 0.15s;
}

#menu-list li a:hover {
  color: rgba(167, 167, 167, 0.849);
  padding-left: 0.25rem;
  transition: all ease-in-out 0.15s;
}

/*===========HAM-MENU-ANIMATION=============*/

.line-one-ani {
  transform: rotate(45deg) translateX(6px) translateY(10px);
  transition: 0.5s 0.25s;
}

.line-two-ani {
  opacity: 0;
}

.line-three-ani {
  transform: rotate(135deg) translateX(-5px) translateY(10px);
  transition: 0.5s 0.25s;
}
/*======MENU END=========*/




/*======CONTENT=========*/
div#first-topic {
  background: url('../img/profil.png');
  background-attachment: fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-size: cover;
  padding: 2rem 2rem 0;
}

div#first-topic p {
  text-align: center;
  background: linear-gradient(90deg,rgb(43, 51, 131), rgb(44, 94, 151));
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  font-size:  1.2rem;
  font-variant: small-caps;
  letter-spacing: 0.15rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.678);
  font-family: 'Playfair Display SC', serif;
  transition: all ease-in-out 0.25s;
}

#first-topic p a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

div#first-topic p:hover {
  transform: scale(1.05);
  z-index: 1;
  transition: all ease-in-out 0.25s;
}

div.square {
  height: 35vh;
  max-height: 300px;
  max-width: 400px;
  margin: 0 auto 2rem;
  border-radius: 1rem;
  background-color: rgba(245, 245, 245, 0.795);
  box-shadow: 0.01rem 0.8rem 0.75rem rgba(0, 0, 0, 0.384);
}

div.topicName {
  text-align: center;
  background: linear-gradient(90deg,rgb(43, 51, 131), rgb(44, 94, 151));
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  border-bottom-left-radius: 2rem;
  font-size:  0.9rem;
  font-variant: small-caps;
  letter-spacing: 0.25rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.678);
  font-family: 'Playfair Display SC', serif;
}

div.topicContent {
  font-size: 1.2rem;
}

div.topicContent ul {
  list-style-type: none;
}

div.topicContent li {
  float: none;
  padding: 0.5rem;
  letter-spacing: 0.15rem;
}

div#pureContent, div#service {
  background: white;
  padding-bottom: 2rem;
}


div#pureContent p, div#service p {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 1rem;
  text-align: center;
}

#pureContent h2, div#service h2 {
  text-align: center;
  padding: 1.5rem;
  font-family: 'Playfair Display SC', serif;
  font-variant-caps: petite-caps;
}

/*======CONTENT END=========*/

/*=====GALLERY============*/
div#gallery {
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


#gallery-link {
  text-align: center;
  background: linear-gradient(90deg,rgb(43, 51, 131), rgb(44, 94, 151));
  padding: 1rem;
  margin: -1rem auto 1rem ;
  width: 45%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size:  1.1rem;
  font-variant: small-caps;
  letter-spacing: 0.25rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.678);
  font-family: 'Playfair Display SC', serif;
  transition: all ease-in-out 0.25s;
}

#gallery-link a {
  color: white;
}

#gallery-link:hover {
  transform: scale(1.02);
  transition: all ease-in-out 0.25s;
}

.gallery-img {
 height: 70%;
 max-height: 300px;
border-radius: 0.25rem;
min-height: 165px;
 width: 85%;
 max-width: 300px;
 max-height: 300px;
 margin: 1rem 1rem;


 box-shadow: 0.01rem 0.8rem 0.75rem rgba(0, 0, 0, 0.384);
 cursor: pointer;
 transition: all ease-in-out 0.25s;
}


#gallery img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.25s;
}

div#gallery p {
  grid-column: 1/5;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
  line-height: 3rem;
  font-family: 'Playfair Display SC', serif;
  font-variant-caps: petite-caps;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.678);
  color: white;
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg,rgb(43, 51, 131), rgb(44, 94, 151));
}

div#gallery p a {
  font-variant: small-caps;
  color: white;
  border: solid 2px rgba(255, 255, 255, 0.767);
  border-radius: 1rem;
  padding: 0 0.75rem;
  letter-spacing: 0.35rem;
  display: inline-block;
  transition: all ease-in-out 0.25s;
}

div#gallery p a:hover {
  transform: scale(0.95) ;
  transition: all ease-in-out 0.25s;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 51, 131);
}
/*================Gallery End============*/



/*====================Service===================*/
div#service h2 {
  color: white;
  letter-spacing: 0.25rem;
  padding-bottom: 0;
}

div#service ul {
  list-style-type: none;
}

div#service li {
  float: none;
  padding: 0.5rem;
  letter-spacing: 0.15rem;
  text-align: right;
  color: white;
  background: rgba(3, 3, 5, 0.577)
}

div#service li:nth-child(odd){
  background: linear-gradient(90deg,rgb(43, 51, 131), rgb(44, 94, 151));
  text-align: left;
}

div#service {
  background: url('../img/furgon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  max-width: 768px;
  margin: 0 auto;
}
/*====================Service END===================*/




/*================OFFER===============*/
div#offer {
  margin: 0 auto;
  max-width: 500px;
}

fieldset {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: solid 1px rgb(43, 51, 131);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

fieldset legend {
  font-family: 'Ephesis', cursive;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.75rem;
  letter-spacing: 0.25rem;
  background: linear-gradient(90deg,rgb(56, 66, 173), rgb(44, 94, 151));
  color: white;
  border-radius: 1rem;
}

input,label,textarea, button {
  display: block;
  margin: 1.5rem auto;
  padding: 0.5rem;
  width: 70%;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  border: solid 1px rgb(50, 61, 156);
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(39, 122, 190, 0.678);
}

textarea {
min-height: 200px;
max-height: 500px;
width: 80%;
margin: 0 auto;
max-width: 300px;
}

#submit {
  display: block;
  margin: 1.5rem auto;
  padding: 0.75rem;
  width: 40%;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(146, 146, 146, 0.678);
  background: linear-gradient(90deg,rgba(43, 50, 131), rgba(44, 94, 151));
  color: white;
  letter-spacing: 0.15rem;
  transition: all ease-in-out 0.15s;
  animation: shining 3s linear infinite;
}

#submit:hover {
  transform: scale(0.95);
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}

@keyframes shining {
    0% {color: #ffffff;}
    25% {color: #d4d4d4b2;}
    50% {color: white;}
    75% {color: #d4d4d4b2;}
}
/*================OFFER END===============*/



/*======FOOTER=========*/
footer {
  grid-column: 1/13;
  background: linear-gradient(90deg,rgba(43, 50, 131), rgba(44, 94, 151));
}

footer h2 {
  padding: 0.5rem;
  color: white;
  font-weight: 300;
  text-align: center;
  font-family: 'Ephesis', cursive;
  letter-spacing: 0.4rem;
}

div#social {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#social i {
  color: rgb(226, 211, 211);
  cursor: pointer;
}

#social i:hover {
  color: rgb(255, 255, 255);
  transition: all 0.15s ease-in-out 0s;
  transform: scale(0.95);
}

.author {
 margin: 1rem auto 0.5rem;
text-align: center;
}

article#designer {
  font-family: 'Ephesis', cursive;
  color: white;
  font-size: 1.4rem;
}

span {
  font-size: 1.2rem;
  color: white;
  font-family: 'Ephesis', cursive;
}

span a {
  text-decoration: none;
  color: white;
}

span a:visited {
  color: white;
}
/*======FOOTER END=========*/




/*==================Thank you================*/
div#back {
  display: flex;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
}

#backToHome {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  padding: 2rem 0.5rem;
}

#backToHome i {
  color: rgba(43, 50, 131);
}

#backToHome i:hover {
  color: rgb(64, 74, 185);
  transform: scale(0.95);
}
/*==================Thank you END================*/




/*================MEDIA FROM 768px====================*/
@media (min-width: 768px){

/*===========headeR================*/

  div.classOfLines {
    display: none;
  }

  div#ham-menu {
    cursor: default;
  }

  header {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  }

  nav ul#menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div#company-name{
    font-size: 1rem;
    align-self: center;
    justify-self: center;
    display: flex;
    text-align: center;
  }

  #menu-list li {
    text-align: center;
  }

  #menu-list li a:hover {
    transition: all ease-in-out 0.15s;
    color: rgb(255, 255, 255);
    padding-left: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.068);
  }

  nav {
    height: 10vh;
    align-self: center;
    justify-self: center;
    display: flex;
    text-align: center; 
   }
  
  .ham-menu-visible {
    height: 10vh;
    max-height: 10vh;
}

  div#gallery p {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    max-width: 600px;
  }

  div#service {
border-radius: 1rem;
  }

  footer {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  div#first-topic {
    background: url('../img/profil2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
  }

}
/*================MEDIA FROM 768px END====================*/



/*================MEDIA FROM 1024px====================*/
@media (min-width: 1024px) {
  #menu-list li {
    font-size: 1.35rem;
  }

  #menu-list li a {
    padding: 0.5rem 1rem;
  }

   div#company-name h1{
    font-size: 2rem;

  }

  #menu-list li a {
    transition: all ease-in-out 0.15s;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
  }

}

/*================MEDIA FROM 1024px END====================*/