body {
  font-family: 'Playfair Display', serif;
  background: url('assets/background1.png') no-repeat center center fixed;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

th {
  max-width: 3.125rem;
}
blockquote {
  font-size: 1.375rem;
}

.logo {
  width: 3.5rem;
  height: auto;
}
.menu-button:hover {
  background-color: rgba(0, 128, 128, .1);
    transform: scale(0.97);
  transition: all 0.1s ease-in-out;
}
.menu-button{
  font-size: 1.5rem;
}
#menu-button1 {
 color: rgba(0, 128, 128, .8);
}
hr {
  border: solid 1px grey;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
li:hover {
  color: black;
}
a {
  color: black;
}
a:hover {
  color: rgba(0, 0, 0, .6);
}

table {
  width: 100%;
  text-align: center;
}

p {
  font-size: 1.25rem;
  text-align: justify;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

#first-p, #second-p {
  text-align: left;
  margin-left: 1.25rem;
}

.main-site-picture {
  height: 25rem;
  width: auto;
}


.rights {
  font-size: 0.8125rem;
  font-style: oblique;
}

.main-site-picture {
  height: 25rem;
  width: auto;
  border: solid 1px black;
  box-shadow: 5px 10px 10px grey;
}

.image {
  vertical-align: top;
}