
/*===CSS RESET===*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*===CSS RESET END===*/

body {
  font-family: 'Playfair Display', serif;
  background: url('assets/background1.png') no-repeat center center fixed;
  height: 100vh;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.container {
  width: 96%;
  margin: 0 auto;
}

h1 {
	font-size: 2.25rem;
	text-align: center;
	Padding: 1.5rem;
	border-bottom: solid 0.125rem black;
	font-weight: 600;
	border-top: solid 0.125rem black;
	margin-top: 1rem;
}

.main-menu {
	border-top: solid 0.125rem black;
	padding-top: 2rem;
}
/*===Header MOBILE HOME PAGE===*/

.slogen {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
	padding: 1.5rem;
}

button {
  width: 90%;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  background-color: white;
  color: rgba(0,0,0, .9);
  border: solid 0,3125rem white;
  font-weight: 600;
  border-radius: 0.5rem;
  letter-spacing: 0.35rem;
  box-shadow: 0.3125rem 0.625rem 0.625rem grey;
  margin-bottom: 0.5rem;
	margin-left: 5%;
	margin-right: 5%;
	border-top: none;
	border-left: none;
}

button:hover {
  transform: scale(0.98);
  transition: all 0.3s ease-in-out;
}

#contact {
  margin-bottom: 2rem;
}


/*===Main MOBILE HOME PAGE===*/

.first-p, .second-p, .main {
  width: 100%;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 3px;
}

hr {
  border: solid 0.25rem grey;
}

p {
  max-width: 100%;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 3rem;
}

.main-site-picture {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  height: auto;
  border: solid 1px black;
  box-shadow: 0.3125rem 0.625rem 0.625rem grey;
}

.rights {
  margin-top: 3rem;
  font-size: 0.75rem;
  text-align: center;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

/*=============================================*/

/*Referencia*/

.referencia {
  width: 65%;
  max-height: 15rem;
  border: solid 1px white;
  box-shadow: 0.3125rem 0.625rem 0.625rem grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 0.35rem;
}

.referencia:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/*=============================================*/

/*Rolunk*/

.rolunk {
  text-align: justify-all;
}

strong {
  font-weight: 600;
}

/*=========================================*/

/*Kapcsolat*/

table {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 100%;
}
th {
  font-size: 1.5rem;
  text-align: center;
}

td {
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 1rem;
}

.email, .telefon, .facebook {
  max-width: 92%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  /*background-color: rgba(0,194,196, .2);*/
  color: black;
  box-shadow: 0.3125rem 0.625rem 0.625rem grey;
}

.facebook:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

.telefon:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

.email:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

i {
  padding: 1rem;
}

/*====542 px or bigger ===*/

@media (min-width: 542px) {
  
    .slogen {
  font-size: 1.1rem;
  font-weight: bold;
  border: solid 1px white;
			margin: 0 auto;
			text-align: center;
      }
  
     button {
  width: 50%;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  background-color: white;
  color: rgba(0,0,0, .9);
  border: solid 2px black;
  font-weight: 600;
  border-radius: 0.5rem;
	border-top: none;
	border-left: none;
  letter-spacing: 0,25rem;
  float: left;
  box-shadow: 0.3125rem 0.625rem 0.625rem grey;
  margin: 0 auto;
  padding: 0.5rem;
      }
  
  
  p, .rolunk {
    font-size: 1.35rem;
  }
  
  .email, .telefon, .facebook {
  max-width: 72%;
    border: none;
  }
  
  .tables {
    width: 100%;
  }

  .referencia {
    height: 250px;
    width: 40%;
    float: left;
    margin: 2rem;
  }

  .referencia:hover {
    transform: scale(1.25);
    transition: all 0.3s ease-in-out;
  }
}

@media (min-width: 1024px) {
      .company-logo {
        width: 15%;
        height: auto;
      }
  
       button {
  width: 25%;
  font-size: 1.25rem;
  font-family: 'Playfair Display', serif;
  background-color: white;
  color: rgba(0,0,0, .9);
  font-weight: 600;
  border-radius: 4px;
  border: none;
  letter-spacing: 0,25rem;
  float: left;
  box-shadow: 0.3125rem 0.625rem 0.625rem grey;
  margin: 0 auto;
  padding: 0.5rem;
      }
  
  button:hover {
  background-color: white;
  border: solid 0.1rem white;
  transform: scale(0.98);
  transition: all 0.3s ease-in-out;
}
  
  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.3rem;
    letter-spacing: 0.15rem
  }
  
  .main-site-picture {
    width: 40%;
    height: auto;
    float: inherit;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  th {
    margin: 0 auto;
  }
  
  .referencia {
    display: block;
    width: 22%;
    max-height: 380px;
    max-width: 380px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .main-referencia {
    width: 100%;
  }
  
  .container, .images {
    width: 100%;
  }
  
  .rights {
    margin-top: 1rem;
  }
}
